<section class="p-6 w-full h-full transition-all duration-500 ease-in opacity-0 animate-fadein">
    <h1 class="text-3xl font-bold text-text-heading mb-4">Bem-vindo ao PurpleBox</h1>
    <div class="grid grid-cols-5 w-full max-h-screen h-[calc(100vh-10rem)] gap-x-5 gap-y-5">
        <div
            class="bg-gradient-to-br from-gray-600 via-[#1a1a1a] to-[#2c2c2e] rounded-lg border border-inherit border-l-8 border-primary-dark col-span-3 w-full h-full shadow-lg">
            <span class="text-gray-300">
                Grafico 1
            </span>

        </div>
        <div
            class="bg-gradient-to-br from-gray-600 via-[#1a1a1a] to-[#2c2c2e] rounded-lg border border-inherit border-l-8 border-primary-dark col-span-2 w-full h-full shadow-lg">
            <span class="text-gray-300">
                Grafico 2
            </span>
        </div>
        <div
            class="bg-gradient-to-br from-gray-600 via-[#1a1a1a] to-[#2c2c2e] rounded-lg border border-inherit border-l-8 border-primary-dark col-span-5 w-full h-full shadow-lg">
            <span class="text-gray-300">
                Grafico 3
            </span>
        </div>
    </div>
</section>